//general styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  //  Sets up the Base 10 stuff 100%/1.6 
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Exo2-LightCondensed', $font-stack-helvetica;
  @include font-size(1.8);
  font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

h1,
.h1 {
  font-family: 'Exo2-BoldCondensed', $font-stack-helvetica;
  @include font-size(5.0);
  line-height: 60px;
  letter-spacing: 0.025em;
  text-align: center;
}

h2,
.h2 {
  font-family: 'Exo2-BoldCondensed', $font-stack-helvetica;
  @include font-size(3.5);
  line-height: 50px;
  letter-spacing: 0.025em;
  text-align: center;
}

h3,
.h3 {
  font-family: 'Exo2-BoldCondensed', $font-stack-helvetica;
  @include font-size(2.9);
  line-height: 32px;
  letter-spacing: 0.025em;
  text-align: left;
}

h4,
.h4 {
  font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
  @include font-size(2.4);
  line-height: 26px;
  letter-spacing: 0.025em;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

input,
textarea {
  border: 1px solid #fff;
  background-color: #fff;
  width: 100%;
  outline: none;
  color: #333;
  padding: 8px 12px;
  font-family: 'Exo2-LightCondensed', $font-stack-helvetica;
  @include font-size(1.8);
  line-height: 26px;
  letter-spacing: 0.025em;
  border-radius: 3px;
  transition: border-color .3s ease;
  &:hover,
  &:active,
  &:focus {
    border-color: $yellow;
  }
}

textarea {
  resize: none;
  height: 150px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, .5);
}
/* Firefox 19+ */
:-moz-placeholder {
  color: rgba(255, 255, 255, .5);
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

label,
.label {
  display: block;
  margin-bottom: 6px;
  font-family: 'Exo2-LightCondensed', $font-stack-helvetica;
  @include font-size(1.8);
  letter-spacing: 0.025em;
}

.required {
  color: $yellow;
  font-family: 'Exo2-RegularCondensed', $font-stack-helvetica;
}

.field {
  margin-bottom: 22px;
}

p {
  color: #555;
  line-height: 22px;
  letter-spacing: 0.025em;
  margin: 18px 0;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  margin: 0 -10px;
  font-size: 0;
}

.col {
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  @include font-size(1.8);
}

.btn {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  width: 240px;
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0 5px;
  text-align: center;
  font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
  @include font-size(2.2);
  line-height: 46px;
  letter-spacing: 0.025em;
  border: 2px solid $yellow;
  transition: color .3s ease;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $yellow;
    z-index: -1;
    transform: translateX(-265px);
    transition: transform .3s ease;
  }
  &:after {
    content: '';
    position: absolute;
    border-left: 26px solid $yellow;
    border-bottom: 47px solid transparent;
    right: -25px;
    top: 0;
    bottom: 0;
    transform: translateX(-265px);
    transition: transform .3s ease;
  }
  &:hover,
  &:focus,
  &:active {
    ;
    color: $blue;
    &:before {
      transform: translateX(0);
    }
    &:after {
      transform: translateX(0);
    }
  }
  &.transparent {
    border-color: #fff;
    &:hover,
    &:focus,
    &:active {
      color: $blue;
    }
    &:before {
      background-color: #fff;
    }
    &:after {
      border-left: 28px solid #fff;
    }
  }
  &.dark {
    border-color: $blue;
    color: $blue;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
    &:before {
      background-color: $blue;
    }
    &:after {
      border-left: 28px solid $blue;
    }
  }
}

.link {
  color: $blue;
  box-shadow: inset 0px -1px 0px 0px $blue;
}

.tabs_caption {
  font-size: 0;
  .tab {
    cursor: pointer;
    display: inline-block;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 30px;
    letter-spacing: 0.025em;
    color: $blueGray;
    padding-bottom: 30px;
    width: 50%;
    vertical-align: top;
    border: 2px solid #fff;
    padding: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    transition: color .3s ease, background-color .3s ease;
    &.active,
    &:hover,
    &:focus,
    &:active {
      color: $blue;
      background-color: #fff;
    }
  }
}

.tabs_content {
  display: none;
  &.active {
    display: block;
  }
}

// custom scroll 
.mCSB_inside>.mCSB_container {
  margin-right: 0;
}

.mCSB_scrollTools {
  right: auto;
  left: 0;
}

// header 
header {
  box-shadow: 0px 1px 10px 0px rgba(34, 34, 34, 0.3);
  &.main {
    position: relative;
    z-index: 2;
    nav {
      background-color: rgba(60, 68, 103, .8);
    }
    .submenu {
      background-color: rgba(32, 41, 78, .8);
    }
  }
}

.contacts_nav {
  display: none;
  visibility: hidden;
}

.logo_block {
  position: relative;
  height: 80px;
  width: 27.92%;
  min-width: 180px;
  float: left;
  background-color: $blue;
  text-align: right;
  padding: 17px 18px;
  margin-right: 54px;
  &:after {
    content: '';
    position: absolute;
    right: -46px;
    top: 0;
    bottom: 0;
    border-left: 46px solid $blue;
    border-bottom: 80px solid transparent;
  }
  img {
    width: 148px;
  }
}

.contacts_header {
  background-color: $blue;
  box-shadow: 0px 1px 3px 0px rgba(34, 34, 34, 0.3);
  color: #d1e3f7;
  text-align: right;
  @include font-size(1.6);
  line-height: 26px;
  letter-spacing: 0.05em;
  .phone {
    margin: 0 4px 0 16px;
    display: inline-block;
  }
  .mail {
    margin-left: 26px;
    margin-right: 18px;
  }
  .icon_mail {
    margin-right: 8px;
  }
}

nav {
  background-color: $blueGray;
  @include clearfix;
}

.nav_wrap {
  .nav_close {
    display: none;
    visibility: hidden;
  }
}

.main_nav {
  color: #fff;
  line-height: 26px;
  letter-spacing: 0.025em;
  float: right;
  & > li {
    float: left;
    position: relative;
    a {
      display: inline-block;
      width: 100%;
      padding: 0 19px;
      line-height: 54px;
      transition: color .3s ease;
      &:hover,
      &:active,
      &:focus {
        color: #00a8e4;
      }
    }
  }
  .dropdown {
    position: relative;
    padding-right: 34px;
    background-color: transparent;
    &:after {
      content: '';
      position: absolute;
      border-top: 5px solid #fff;
      border-left: 3.5px solid transparent;
      border-right: 3.5px solid transparent;
      right: 20px;
      top: 26px;
    }
    &.opened {
      color: #00a8e4;
    }
  }
  .submenu {
    position: absolute;
    display: none;
    width: 100%;
    background-color: $blue;
    color: #d1e3f7;
    z-index: 2;
    top: 54px;
    a {
      transition: background-color .3s ease, color .3s ease;
    }
    a:hover,
    a:focus,
    a:active {
      background-color: #d1e3f7;
      color: $blue;
    }
  }
}

.burger {
  cursor: pointer;
  z-index: 3;
  width: 50px;
  height: 54px;
  float: right;
  padding: 17px 10px;
  display: none;
  visibility: hidden;
}

.burger_inner {
  width: 30px;
  height: 20px;
  position: relative;
  .line1,
  .line2,
  .line3 {
    background: #fff;
    height: 2px;
    opacity: 1;
    transition: background .3s;
    width: 50px;
    display: block;
    position: relative;
    position: absolute;
    right: 0;
  }
  .line1 {
    width: 24px;
    top: 0;
  }
  .line2 {
    width: 30px;
    top: 9px;
  }
  .line3 {
    width: 20px;
    top: 18px;
  }
}

// footer 
.footer_top {
  background-color: $blueGray;
  padding: 23px 0;
  color: #fff;
  .logo {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin-right: 94px
  }
}

.footer_menu {
  display: inline-block;
  vertical-align: middle;
  li {
    display: inline-block;
    letter-spacing: 0.025em;
    margin-left: 40px;
  }
}

.footer_bottom {
  background-color: $blue;
  color: #b9bed2;
  overflow: hidden;
  padding: 5px 0;
  .dev {
    display: inline-block;
  }
  .contacts {
    float: right;
  }
  .mail {
    margin-left: 20px;
    color: #fff;
  }
  .phone {
    margin-left: 20px;
  }
}

// breadcrumbs 
.breadcrumbs {
  color: #fff;
  font-size: 0;
  padding: 10px 0 20px;
  li {
    display: inline-block;
    vertical-align: top;
    @include font-size(1.6);
    line-height: 26px;
    letter-spacing: 0.01em;
    font-family: 'Exo2-ThinCondensed', $font-stack-helvetica;
  }
  a {
    margin-right: 26px;
    color: #79c3f4;
    border-bottom: 1px solid;
    position: relative;
    transition: color .3s ease;
    &:hover,
    &:focus,
    &:active {
      color: #acdcfc;
    }
    &:after {
      content: '/';
      position: absolute;
      color: #7887b6;
      font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
      right: -18px
    }
  }
}

// popup
.popup_overlay {
  display: none;
  text-align: center;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(60, 68, 103, .8);
  z-index: 5;
  .popup_content {
    padding: 60px 10px 30px;
    margin: 40px auto;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: 567px;
    background-color: $blue;
    text-align: left;
    label {
      color: #fff;
    }
    textarea {
      background-color: transparent;
      height: 100px;
      color: #fff;
    }
    input {
      width: 100%;
      max-width: 290px;
      background-color: transparent;
      color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      left: -100px;
      top: 0;
      bottom: 0;
      border-right: 100px solid $blue;
      border-top: 567px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      right: -100px;
      top: 0;
      bottom: 0;
      border-left: 100px solid $blue;
      border-bottom: 567px solid transparent;
    }
  }
  .popup_close {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}

// main 
main {
  min-height: calc(100vh - 131px);
  &.full {
    min-height: calc(100vh - 185px);
  }
}

.slogan {
  background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 768px;
  height: calc(100vh - 26px);
  overflow: hidden;
  position: relative;
  top: -54px;
  background-color: $blue;
  margin-bottom: -54px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 41, 78, .4);
    z-index: 1;
  }
  video {
    width: 100%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  .wrap {
    position: absolute;
    top: 0;
    padding: 200px 0 63px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
  .buttons_block {
    font-size: 0;
    padding: 76px 0 74px;
  }
  .btn {
    margin: 6px 15px;
  }
}

.principles {
  padding-top: 100px;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  .col {
    width: 25%;
  }
  .principles_item {
    padding-top: 15px;
  }
  img {
    width: 100%;
    max-width: 100px;
  }
  .caption {
    line-height: 22px;
    letter-spacing: 0.025em;
    padding-top: 17px;
  }
}

.directions {
  color: #222;
  text-align: center;
  padding: 80px 0 84px;
  .main,
  .additional {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 40px;
    .col {
      width: 25%;
      min-width: 262px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .additional {
    padding-top: 0;
    .col {
      width: 50%;
      min-width: 262px;
    }
    .directions_item {
      font-size: 0;
      padding: 38px 0 32px;
    }
    .img {
      width: 51.72%;
      display: inline-block;
      vertical-align: middle;
    }
    img {
      margin-bottom: 0;
    }
    .text {
      width: 48.28%;
      display: inline-block;
      vertical-align: middle;
    }
    .title {
      font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
      @include font-size(2.4);
      line-height: 26px;
      letter-spacing: 0.025em;
      text-align: left;
      padding: 0 20px 10% 20px;
    }
  }
  img {
    margin-bottom: 18px;
  }
  .directions_item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 0 0 13px;
    .btn {
      display: block;
      margin: 0 auto;
    }
  }
  .top_block {
    height: 272px;
    position: relative;
    padding: 40px 0 40px;
    margin-bottom: 5px;
    &.site {
      background: url('../img/directions/site_bg.png') center no-repeat;
      background-size: cover;
    }
    &.top {
      background: url('../img/directions/top_bg.png') center no-repeat;
      background-size: cover;
    }
    &.design {
      background: url('../img/directions/design_bg.png') center no-repeat;
      background-size: cover;
    }
    &.app {
      background: url('../img/directions/app_bg.png') center no-repeat;
      background-size: cover;
    }
    &.redesign {
      background: url('../img/design/redisign_bg.png') center no-repeat;
      background-size: cover;
    }
    &.ui_app {
      background: url('../img/design/ui_app_bg.png') center no-repeat;
      background-size: cover;
    }
    &.logo {
      background: url('../img/design/logo_bg.png') center no-repeat;
      background-size: cover;
    }
    &.style {
      background: url('../img/design/style_bg.png') center no-repeat;
      background-size: cover;
    }
  }
  .price {
    position: absolute;
    height: 26px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #999;
    font-family: 'Exo2-ExtraLightCondensed', $font-stack-helvetica;
    @include font-size(1.4);
    line-height: 19px;
    letter-spacing: 0.025em;
    padding: 7px 20px 0 10px;
    width: 50%;
    min-width: 100px;
    text-align: right;
    &:before {
      content: '';
      position: absolute;
      left: -15px;
      bottom: 0;
      border-left: 15px solid transparent;
      border-bottom: 26px solid #fff;
    }
  }
  .direction_point {
    text-align: left;
    display: inline-block;
    width: 100%;
    color: #555;
    padding: 10px 20px;
    background: url('../img/icons/icon_right.png') right 19px center no-repeat;
    @include font-size(1.8);
    letter-spacing: 0.025em;
    transition: color .3s ease, background .3s ease;
    &:hover,
    &:focus,
    &:active {
      color: $blue;
      background: $yellow url('../img/icons/icon_right-hover.png') right 19px center no-repeat;
    }
  }
}

.directions_seo {
  .attr {
    text-align: left;
    padding: 12px 20px 16px;
    color: #555;
    line-height: 36px;
    letter-spacing: 0.025em;
  }
  .key {
    opacity: .7;
  }
  .value {
    float: right;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
  }
}

.stages {
  text-align: center;
  color: #222;
  padding: 78px 0 20px;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 70px;
  }
  .col {
    width: 25%;
    min-width: 200px;
  }
  .stage_item {
    padding-bottom: 70px;
  }
  img {
    margin: auto;
  }
  .num {
    position: absolute;
    bottom: 0;
    color: $yellow;
    font-family: 'Exo2-RegularCondensed', $font-stack-helvetica;
    @include font-size(2.9);
    line-height: 29px;
    letter-spacing: 0.025em;
  }
  .img_block {
    position: relative;
    height: 171px;
    display: flex;
  }
  .caption {
    text-align: left;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 30px;
    letter-spacing: 0.025em;
    padding-top: 36px;
  }
  .text {
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.025em;
    padding-top: 22px;
  }
}

.achievements {
  text-align: center;
  color: #fff;
  background-color: $blue;
  padding: 80px 0;
  overflow: hidden;
  .counters {
    padding-top: 38px;
    .col {
      width: 25%;
      min-width: 170px;
    }
  }
  .counter_item {
    padding-top: 10px;
  }
  .num {
    color: $yellow;
    font-family: 'Exo2-BoldCondensed', $font-stack-helvetica;
    @include font-size(10.0);
    line-height: 100px;
    letter-spacing: 0.025em;
    padding-bottom: 15px;
  }
  .see_all {
    margin-top: 46px;
  }
}

.portfolio {
  padding: 50px 70px 0;
  .col {
    width: 33.333%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .portfolio_item {
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-shadow: 0px 1px 2px rgba(51, 51, 51, 0.3);
    box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.3);
    padding-top: 62%;
    min-height: 230px;
    & > img {
      position: absolute;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:hover,
    &:focus,
    &:active {
      img {
        filter: blur(5px);
      }
      .hover_block {
        opacity: 1;
      }
      .desctiption {
        transform: translateY(0);
      }
      .btn {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &.all {
      box-shadow: inset 0px 0px 0px 3px $yellow;
      transition: background-color .3s ease;
      .hover_block {
        background-color: transparent;
        opacity: 1;
        img {
          filter: none;
        }
      }
      .desctiption {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        transform: translateY(0);
        background: url('../img/icons/all_works.png') center no-repeat;
        background-size: contain;
        transition: background .3s ease;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $yellow;
        .desctiption {
          background: url('../img/icons/all_works-hover.png') center no-repeat;
          background-size: contain;
        }
        .all_works {
          color: $blue;
        }
      }
    }
  }
  .desctiption {
    font-family: 'Exo2-BoldCondensed', $font-stack-helvetica;
    @include font-size(3.5);
    line-height: 42px;
    letter-spacing: 0.025em;
    padding-bottom: 9.6%;
    transform: translateY(20px);
    transition: transform .3s ease;
  }
  .hover_block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 41, 78, .8);
    display: flex;
    opacity: 0;
    transition: opacity .3s ease;
    .inner {
      margin: auto;
    }
    .btn {
      opacity: 0;
      transform: translateY(30px);
      transition: transform .3s ease, opacity .3s ease, background-color .3s ease, color .3s ease;
      transition-delay: .05s;
    }
  }
  .all_works {
    @include font-size(2.9);
    line-height: 50px;
    letter-spacing: 0.025em;
    transition: color .3s ease;
  }
}

.testing_block {
  height: 670px;
  padding: 78px 0;
  background: url('../img/bg/testing_bg.png') bottom center no-repeat;
  background-size: 100% auto;
  text-align: center;
  .step {
    display: none;
    padding: 38px 10px 0;
  }
  .field {
    position: relative;
  }
  .h3,
  h3 {
    padding-bottom: 30px;
    text-align: center;
  }
  .talign {
    text-align: right;
    padding-top: 22px;
  }
  .fields_block {
    margin: 0 -10px;
    font-size: 0;
    .field {
      width: 33.333%;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
    }
  }
  .show_more {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
    color: #555;
    line-height: 32px;
    letter-spacing: 0.025em;
    min-width: 60px;
    text-align: center;
    transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
    &:hover,
    &:focus,
    &:active {
      background-color: $blue;
      color: #fff;
      box-shadow: none;
    }
  }
  input[type='radio'],
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    left: 0;
  }
  input[type='radio'] + label,
  input[type='checkbox'] + label {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    padding: 20px;
    background-color: #fff;
    color: #555;
    line-height: 32px;
    letter-spacing: 0.025em;
    min-width: 145px;
    position: relative;
    transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;
  }
  input[type='radio']:checked + label,
  input[type='radio'] + label:hover,
  input[type='radio'] + label:focus,
  input[type='radio'] + label:active {
    background-color: $blue;
    color: #fff;
    box-shadow: none;
  }
  input[type='checkbox'] + label {
    &:before,
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid transparent;
      border-radius: 3px;
      transition: border-color .3s ease;
    }
  }
  input[type='checkbox']:checked + label,
  input[type='checkbox'] + label:hover,
  input[type='checkbox'] + label:focus,
  input[type='checkbox'] + label:active {
    &:before {
      border-color: $blue;
    }
  }
  input[type='checkbox']:checked + label {
    &:after {
      top: -10px;
      right: -10px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: url('../img/icons/icon_check.png') center no-repeat, $blue;
    }
  }
  .preferred_design {
    input[type='radio'] + label {
      padding: 0;
      overflow: hidden;
      max-width: 300px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid transparent;
        border-radius: 3px;
        z-index: 3;
        transition: border-color .3s ease;
      }
      .caption {
        padding: 20px;
      }
      .price {
        padding: 10px 14px 0 10px;
        width: 36%;
        &:before {
          border-bottom: 29px solid #fff;
        }
      }
    }
    input[type='radio']:checked + label,
    input[type='radio'] + label:hover,
    input[type='radio'] + label:focus,
    input[type='radio'] + label:active {
      img {
        filter: none;
      }
      &:before {
        border-color: $blue;
      }
    }
  }
  .step1 {
    .field {
      width: 280px;
      height: 196px;
    }
    label {
      height: 100%;
    }
    input[type='radio'] + label {
      padding-top: 42px;
    }
    .title {
      padding-bottom: 20px;
    }
  }
  .title {
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 30px;
    letter-spacing: 0.025em;
  }
  .form_fields {
    width: 100%;
    max-width: 680px;
    label,
    .label {
      text-align: left;
      color: #777;
      font-family: 'Exo2-RegularCondensed', $font-stack-helvetica;
      margin-bottom: 16px;
    }
    input,
    textarea {
      border-color: #ddd;
      padding: 12px 10px;
      &:hover,
      &:active,
      &:focus {
        border-color: $yellow;
      }
    }
    &.regions {
      text-align: left;
      input[type=radio]+label,
      input[type=checkbox]+label {
        min-width: auto;
      }
      .fields_block .field {
        width: 50%;
      }
    }
  }
  .visible_step {
    display: none;
    visibility: hidden;
    &.visible {
      display: block;
      visibility: visible;
    }
  }
  .add_context {
    display: none;
  }
}

.input_budget {
  width: 120px;
  & + span {
    color: #777;
    @include font-size(1.8);
    font-family: 'Exo2-RegularCondensed', $font-stack-helvetica;
    padding-left: 10px;
  }
}

.ready_solutions {
  padding: 80px 0;
  background-color: $blue;
  color: #fff;
  text-align: center;
  p {
    color: #fff;
    text-align: left;
  }
}

.solutions {
  padding: 50px 70px 0;
  .col {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 300px;
    max-width: 450px;
  }
}

.solution_inner {
  position: relative;
  line-height: 0;
  overflow: hidden;
  .hover_block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 41, 78, .8);
    display: flex;
    opacity: 0;
    transition: opacity .3s ease;
    .btn {
      margin: auto;
      opacity: 0;
      transform: translateY(30px);
      transition: transform .3s ease, opacity .3s ease, background-color .3s ease, color .3s ease;
      transition-delay: .05s;
    }
  }
  .price {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #555;
    font-family: 'Exo2-LightCondensed', $font-stack-helvetica;
    @include font-size(1.8);
    line-height: 19px;
    letter-spacing: 0.025em;
    padding: 17px 20px 0 10px;
    width: 45.45%;
    min-width: 100px;
    text-align: right;
    &:before {
      content: '';
      position: absolute;
      left: -15px;
      bottom: 0;
      border-left: 15px solid transparent;
      border-bottom: 36px solid #fff;
    }
  }
}

.solution_item {
  display: inline-block;
  width: 100%;
  img {
    width: 100%;
  }
  .caption {
    background-color: #fff;
    color: #222;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 26px;
    letter-spacing: 0.025em;
    padding: 43px 20px;
    text-align: left;
  }
  &:hover,
  &:active,
  &:focus {
    img {
      filter: blur(5px);
    }
    .hover_block {
      opacity: 1;
    }
    .btn {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.text_block {
  padding: 80px 0 72px;
  h2,
  .h2 {
    padding-bottom: 54px;
  }
  h3,
  .h3 {
    padding-bottom: 14px;
  }
}

.customers {
  padding: 46px 0 82px;
  .col {
    width: 20%;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 20px;
  }
  img {
    width: 100%;
  }
}

.text_frame {
  .col {
    padding-top: 10px;
  }
}

.cols2 {
  .col {
    width: 50%;
  }
}

#map {
  height: 648px;
  & > div {
    background-color: $blue!important;
  }
}

.map_block {
  position: relative;
  &.full_map {
    min-height: 560px;
    height: calc(100vh - 185px);
    #map {
      height: 100%;
    }
  }
}

.company_contacts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  min-width: 400px;
  background-color: rgba(32, 41, 78, .9);
  color: #fff;
  padding: 100px 50px;
  .h3,
  h3 {
    padding-bottom: 30px;
  }
  .icon {
    width: 14px;
  }
  .contact_item {
    line-height: 22px;
    letter-spacing: 0.025em;
    padding-bottom: 16px;
    .icon {
      margin-right: 10px;
    }
  }
  .address .icon {
    position: relative;
    top: 4px;
  }
  .mode {
    padding-top: 10px;
  }
  .btn_block {
    padding-top: 50px;
  }
  input,
  textarea {
    background-color: transparent;
    color: #fff;
  }
}

.full_map {
  .company_contacts {
    width: 40%;
    padding: 70px 50px;
    min-width: 630px;
    z-index: 1;
  }
}

.company_contacts {
  .fields_block {
    margin: 0 -10px;
    font-size: 0;
    .field {
      width: 33.333%;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
    }
  }
}

.heading {
  background: url('../img/bg/heading_bg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  top: -54px;
  margin-bottom: -54px;
  padding: 88px 0 94px;
  color: #fff;
  h1,
  .h1 {
    font-family: 'Exo2-SemiBoldCondensed', $font-stack-helvetica;
  }
}

.heading_block {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 44px;
  @include clearfix;
  p {
    color: #fff;
    font-family: 'Exo2-ThinCondensed', $font-stack-helvetica;
    letter-spacing: 0.05em;
  }
  .btn {
    float: right;
    margin-top: 24px;
  }
  .heading_row {
    overflow: hidden;
    position: relative;
  }
  .key {
    display: inline-block;
    width: 190px;
    line-height: 46px;
    &:after {
      content: '';
      position: absolute;
      height: 6px;
      top: 24px;
      left: 190px;
      right: 150px;
      background: url('../img/icons/icon_dotted.png') center;
      background-size: cover;
    }
  }
  .price_value {
    float: right;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(3.5);
    line-height: 32px;
    letter-spacing: 0.05em;
  }
  .time {
    padding-top: 14px;
    margin-bottom: 22px;
  }
}

.services {
  padding: 82px 0 85px;
  .row {
    padding-top: 52px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  .col {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 273px;
  }
}

.service_item {
  background-color: $blueGray;
  color: #fff;
  .title {
    background-color: $blue;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 30px;
    letter-spacing: 0.025em;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
    }
    &:before {
      border-left: 15px solid transparent;
      border-bottom: 26px solid $blueGray;
      left: calc(50% - 15px);
    }
    &:after {
      right: 0;
      width: 50%;
      height: 26px;
      background-color: $blueGray;
    }
  }
  .text_block {
    padding: 22px 20px;
  }
  .key,
  p {
    color: #fff;
    opacity: .7;
  }
  p {
    line-height: 19px;
    height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price_value {
    float: right;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.0);
  }
  .dev_time {
    clear: both;
    padding: 26px 0 6px;
  }
  .btn {
    width: 213px;
    display: block;
    margin: 28px auto 25px;
  }
}

.time {
  float: right;
  font-size: 0;
  li {
    display: inline-block;
    background: url('../img/icons/icon_clock.png') center no-repeat;
    width: 20px;
    height: 20px;
    opacity: .5;
    margin-left: 8px;
    &.mark {
      opacity: 1;
    }
  }
}

.advantages {
  padding: 80px 0 70px;
  .col {
    width: 50%;
  }
  .h2,
  h2 {
    padding-bottom: 32px;
  }
}

.main_functions + .advantages {
  .h3,
  h3 {
    padding-bottom: 36px;
  }
}

.advantages_list {
  padding: 3px 0 18px;
  color: #555;
  li {
    padding-left: 30px;
    position: relative;
    margin: 18px 0;
    line-height: 22px;
    &:before {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      background: url('../img/icons/icon_plus.png') center no-repeat;
      background-size: contain;
      left: 0;
      top: 1px;
    }
  }
}

.disadvantages_list {
  padding: 3px 0 18px;
  color: #555;
  li {
    padding-left: 30px;
    position: relative;
    margin: 18px 0;
    line-height: 22px;
    &:before {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      background: url('../img/icons/icon_minus.png') center no-repeat;
      background-size: contain;
      left: 0;
      top: 1px;
    }
  }
}

.simple_list {
  color: #555;
  li {
    padding-left: 20px;
    position: relative;
    margin: 18px 0;
    line-height: 22px;
    &:before {
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $yellow;
      left: 0;
      top: 8px;
    }
  }
}

.budget {
  background: url('../img/bg/budget.jpg') center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 80px 0 94px;
  .btn {
    margin-top: 65px;
  }
  .heading_block {
    text-align: left;
    max-width: 800px;
    .key {
      width: 390px;
      line-height: 26px;
      padding: 10px 0;
      &:after {
        left: 390px;
      }
    }
    .price_value {
      line-height: 42px;
    }
  }
}

.services + .text_block {
  padding-top: 0;
}

.main_functions {
  padding-top: 80px;
  .row {
    padding-top: 52px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .col {
    width: 25%;
    padding-bottom: 20px;
  }
  .descr {
    padding-bottom: 50px;
  }
}

.main_functions .cms {
  padding-top: 16px;
  .col {
    width: 50%;
  }
  .h3,
  h3 {
    padding-bottom: 20px;
  }
}

.phase {
  padding-bottom: 10px;
}

.function_item {
  padding: 0 10px;
  height: 100%;
  .img {
    width: 174px;
    height: 174px;
    margin: 0 auto 43px;
  }
  img {
    max-width: 100%;
  }
  .title {
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    @include font-size(2.4);
    line-height: 26px;
    letter-spacing: 0.025em;
  }
  p {
    line-height: 24px;
    margin: 16px 0 10px;
  }
}

.seo {
  background-color: $blue;
  color: #fff;
  padding: 82px 0 126px;
}

.seo_tabs {
  .tabs_caption {
    text-align: center;
    padding-top: 36px;
  }
  .tabs_content {
    padding-top: 36px;
  }
  .col {
    width: 50%;
    vertical-align: middle;
  }
  .tab {
    border: 2px dashed $blueGray;
    width: auto;
    @include font-size(2.2);
    line-height: 26px;
    margin: 10px;
    padding: 10px 17px;
    transition: border-color .3s ease;
    &.active {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
    }
    &:hover,
    &:focus,
    &:active {
      border-color: #fff;
      background-color: transparent;
      color: #fff;
    }
  }
  img {
    width: 100%;
    box-shadow: 0px 1px 5px rgba(51, 51, 51, 0.3);
  }
  .seo_area {
    display: inline-block;
    padding: 0 10px 10px;
    position: relative;
    top: -6px;
    color: #d1e3f7;
    @include font-size(1.6);
    line-height: 22px;
    letter-spacing: 0.05em;
    span {
      color: #fff;
      @include font-size(1.8);
      &.color {
        color: $yellow;
      }
    }
    &.attendance {
      float: right;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  thead {
    text-align: left;
    background-color: #fff;
    color: #555;
    img {
      width: auto;
      box-shadow: none;
    }
    .search {
      width: 80px;
      line-height: 0;
    }
  }
  th {
    padding: 9px 10px;
    font-weight: normal;
    font-family: 'Exo2-MediumCondensed', $font-stack-helvetica;
    line-height: 22px;
    letter-spacing: 0.025em;
  }
  td {
    padding: 7px 10px;
    border-bottom: 1px solid $blueGray;
    &:not(:first-child) {
      text-align: center;
    }
  }
}

.directions_top {
  padding-top: 16px;
  .additional {
    padding-top: 26px;
  }
}

.back {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  top: 20px;
  right: 25px;
  z-index: 11;
  outline: none;
  transition: transform .3s ease;
  a {
    padding: 14px;
    display: inline-block;
  }
  img {
    width: 100%;
  }
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.1);
  }
}

.portfolio_header {
  background-color: $blue;
  position: relative;
  line-height: 0;
  height: 214px;
  overflow: hidden;
  .inner {
    padding: 40px 100px 54px;
    position: relative;
    display: table;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  h1,
  .h1 {
    text-align: left;
    color: #fff;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
  }
}

.portfolio_content {
  background-color: $blue;
  display: table;
  overflow: hidden;
}

.portfolio_left {
  display: table-cell;
  vertical-align: top;
  width: 70%;
  line-height: 0;
  img {
    width: 100%;
  }
}

.sticky {
  position: fixed;
  z-index: 10;
}

.stop {
  position: relative;
  z-index: 10;
}

.portfolio_right {
  display: table-cell;
  vertical-align: top;
  width: 30%;
  color: #fff;
  p {
    color: #fff;
  }
  .fixed_block {
    padding: 50px;
  }
  .fixed {
    position: fixed;
    top: 0;
  }
}